{% extends 'piweb/single_column.html' %}

{% load static %}

{% block title %}Topopartner{% endblock %}

{% block head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'topopartner/css/topopartner.css' %}" />
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
<script src="{% static 'topopartner/leaflet-editable/Leaflet.Editable.js' %}"></script>
<script src="{% static 'topopartner/leaflet-editable/Path.Drag.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<script type="text/javascript">CSRF_TOKEN = "{{ csrf_token }}";</script>
{% endblock head %}

{% block body_class %}dark-green noise{% endblock body_class %}

{% block navbar %}

{% url 'topopartner:tracks' as tracks_url %}
{% url 'topopartner:waypoints' as waypoints_url %}
<section class="navbar-section">
    <a href="{% url 'topopartner:home' %}" class="navbar-brand mr-2">Topopartner</a>
    <a href="{% url 'topopartner:waypoints' %}" class="btn btn-{% if request.get_full_path == waypoints_url %}primary{% else %}link{% endif %}">Waypoints</a>
    <a href="{% url 'topopartner:tracks' %}" class="btn btn-{% if request.get_full_path == tracks_url %}primary{% else %}link{% endif %}">Tracks</a>
</section>
<section class="navbar-section">
    {% include 'piweb/user_icon.html' %}
</section>
{% endblock navbar %}

{% block body_scripts %}
{% endblock body_scripts %}
