{% load static %}

{% url 'topopartner:home' as home_url %}
{% url 'topopartner:waypoints' as waypoints_url %}
{% url 'topopartner:itineraries' as itineraries_url %}
{% url 'topopartner:recordings' as recordings_url %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Topopartner{% endblock title %}</title>
        {% block head %}
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Fira+Code:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
        <script src="{% static 'topopartner/leaflet-editable/Leaflet.Editable.js' %}"></script>
        <script src="{% static 'topopartner/leaflet-editable/Path.Drag.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
        <link rel="stylesheet" href="{% static 'topopartner/css/master.css' %}">
        <meta name="viewport" content="width=device-width" />
        <script type="text/javascript">
            CSRF_TOKEN = "{{ csrf_token }}";
        </script>
        {% endblock head %}
        <link rel="stylesheet" href="{% static 'topopartner/css/responsive.css' %}">
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a title="Home" {% if request.get_full_path == home_url %}class="active"{% endif %} href="{% url 'topopartner:home' %}"><span class="large">Home</span><span class="small"><img src="{% static 'topopartner/icons/home.svg' %}" alt="Home"></span></a></li>
                    <li><a title="Waypoints" {% if request.get_full_path == waypoints_url %}class="active"{% endif %} href="{% url 'topopartner:waypoints' %}"><span class="large">Waypoints</span><span class="small"><img src="{% static 'topopartner/icons/marker.svg' %}" alt="Waypoints"></span></a></li>
                    <li><a title="Itineraries" {% if request.get_full_path == itineraries_url %}class="active"{% endif %} href="{% url 'topopartner:itineraries' %}"><span class="large">Itineraries</span><span class="small"><img src="{% static 'topopartner/icons/route.svg' %}" alt="Itineraries"></span></a></li>
                    <li><a title="Recordings" {% if request.get_full_path == recordings_url %}class="active"{% endif %} href="{% url 'topopartner:recordings' %}"><span class="large">Recordings</span><span class="small"><img src="{% static 'topopartner/icons/navigation.svg' %}" alt="Recordings"></span></a></li>
                    <li><a title="Chaîne des Puys" href="{% url 'topopartner:chaine_des_puys' %}"><span class="large">Chaîne des Puys</span><span class="small"><img src="{% static 'topopartner/icons/terrain-white-18dp.svg' %}" alt="Chaîne des Puys"></span></a></li>
                </ul>
            </nav>
        </header>
        <section class="main_section">
            {% block body %}
            {% endblock body %}
        </section>
    </body>
</html>
