{% extends 'topopartner/base.html' %}
{% load static %}

{% block title %}Create track &mid; {{ block.super }}{% endblock title %}

{% block head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'topopartner/css/map.css' %}">
{% endblock head %}

{% block main_content %}
<div class="h1"><a class="transparent" href="{% url 'topopartner:tracks' %}">Itineraries &#10093;</a> Create track</div>
<div class="columns">

    <div class="column col-8 col-sm-12">
        {% include 'topopartner/map.html' %}
    </div>

    <div class="column col-4 col-sm-12">
        <div>
            <button id="buttonClearTrack" class="btn btn-primary" type="button" name="button">Clear track</button>
        </div>
        <div id="track_form">
            <div class="form-group">
                <label class="form-label" for="input-label">Label</label>
                <input class="form-input" id="input-label" type="text" name="label"  placeholder="Label*" />
            </div>
            <div class="form-group">
                <label class="form-label" for="input-comment">Comment</label>
                <textarea class="form-input" id="input-comment" name="comment" rows="8" cols="80" placeholder="Comment"></textarea>
            </div>

            <div class="form-group">
                <label class="form-switch">
                    <input id="input_public" type="checkbox" name="public" />
                    <i class="form-icon"></i> Make the track public
                </label>
            </div>
            <div class="form-group">
                <label class="form-switch">
                    <input id="input_itinerary" type="checkbox" name="itinerary" {% if track.is_itinerary %}checked{% endif %} />
                    <i class="form-icon"></i> Make the track an itinerary
                </label>
            </div>
        </div>
        <div>
            <button id="buttonSaveTrack" class="btn btn-primary" type="button" name="button">Save</button>
        </div>
    </div>
    <script type="text/javascript">
        mapWrapper.bindButtonClearTrack("buttonClearTrack");
        mapWrapper.bindButtonSaveTrack("buttonSaveTrack");
        mapWrapper.bindTrackForm("track_form");
    </script>
</div>
{% endblock main_content %}
