{% extends 'topopartner/base.html' %}
{% load static %}

{% block title %}Home &mid; {{ block.super }}{% endblock title %}

{% block main_content %}

<div class="h1">Topopartner</div>

<p>
    <b>Topopartner</b> is a Django application dedicated to topographic personal data management.
    Namely, it holds a database of <b>waypoints</b> and <b>tracks</b>.
    It offers a track edition interface, GPX exports, elevation profile plots, hike duration prediction, and more.
    It greatly relies on the
    <span class="highlight"><a href="https://leafletjs.com/">Leaflet</a></span>
    library,
    <span class="highlight"><a href="https://wiki.openstreetmap.org/wiki/OpenTopoMap">OpenTopoMap</a></span>
    maps, and
    <span class="highlight"><a href="https://www.gpsvisualizer.com/">GPS Visualizer</a></span>
    features.
</p>

<p>
    It is available on <a href="https://github.com/ychalier/topopartner">GitHub</a>.
    If you want to try it yourself, <a href="https://chalier.fr/#contact">contact me</a> for a demo account.
</p>

{% endblock main_content %}
