{% extends 'topopartner/base.html' %}
{% load mathfilters %}
{% load static %}

{% block title %}Tracks &mid; {{ block.super }}{% endblock title %}

{% block main_content %}
<h1>Itineraries</h1>

{% if itineraries %}

<table class="table table-striped table-hover">
    <tr>
        <th>Label</th>
        <th>Distance</th>
        <th>Uphill</th>
        <th>Downhill</th>
        <th title="Estimated duration based on recorded tracks.">Duration&lowast;</th>
        <th>Creation</th>
        <th>Public</th>
    </tr>
    {% for track in itineraries %}
    <tr>
        <td class="highlight"><a class="transparent" href="{% url 'topopartner:view_track' tid=track.id%}">{{ track.label }}</a></td>
        <td>{% if track.distance %}{{ track.distance | mul:.001 | floatformat }}km{% else %}&mdash;{% endif %}</td>
        <td>{% if track.uphill %}{{ track.uphill | floatformat:"0" }}m{% else %}&mdash;{% endif %}</td>
        <td>{% if track.downhill %}{{ track.downhill | floatformat:"0" }}m{% else %}&mdash;{% endif %}</td>
        <td>{% if track.duration %}{{ track.pretty_duration }}{% else %}&mdash;{% endif %}</td>
        <td>{{ track.date_added | date }}</td>
        <td>{% if track.public %}&check;{% else %}&mdash;{% endif %}</td>
    </tr>
    {% endfor %}
</table>

{% else %}
<p>Nothing to show here.</p>
{% endif %}

<p>
    <a class="btn btn-primary" href="{% url 'topopartner:create_track' %}">Create itinerary</a>
</p>

{% endblock main_content %}
