{% extends 'topopartner/base.html' %}
{% load mathfilters %}
{% load static %}

{% block title %}{{ track.label }} &mid; Tracks &mid; {{ block.super }}{% endblock title %}

{% block head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'topopartner/css/map.css' %}">
<link rel="stylesheet" href="{% static 'topopartner/css/track.css' %}">
{% endblock head %}

{% block main_content %}

<div class="h1">
    <a href="{% url 'topopartner:tracks' %}">{% if track.is_itinerary %}Itineraries{% else %}Recordings{% endif %} &#10093;</a>
    {{ track.label }}
</div>

<div class="columns">

    <div class="column col-8 col-sm-12">
        {% include 'topopartner/map.html' %}
        <br>
    </div>

    <div class="column col-4 col-sm-12">
        <div class="track_info__content">
            <canvas id="elevation_profile" width="600" height="300"></canvas>
            <div>
                <div class="my-2">
                    <div>
                        <span class="track-info-icon"><i class="icon icon-run-circle" title="Walked distance"></i></span>
                        <span class="track-info-number">{% if track.distance %}{{ track.distance | mul:.001 | floatformat }}{% else %}&ndash;&ndash;{% endif %}</span>
                        <span class="track-info-unit">km</span>
                    </div>
                    <div>
                        <span class="track-info-icon"><i class="icon icon-terrain"></i></span>
                        <span class="track-info-number">{% if track.uphill %}{{ track.uphill | floatformat:"0" }}{% else %}&ndash;&ndash;{% endif %}</span>
                        <span class="track-info-unit">m</span>
                    </div>
                    <div>
                        {% if track.is_itinerary %}
                        <span class="track-info-icon"><i class="icon icon-history-toggle-off"></i></span>
                        {% else %}
                        <span class="track-info-icon"><i class="icon icon-timer"></i></span>
                        {% endif %}
                        <span class="track-info-number">{% if track.duration %}{{ track.pretty_duration }}{% else %}&ndash;&ndash;{% endif %}</span>
                    </div>
                    <div>
                        <a href="https://www.google.com/maps/dir//{{ track.start.latitude }}%2C{{ track.start.longitude }}" title="Car directions">
                            <span class="track-info-icon"><i class="icon icon-directions-car"></i></span>
                            Car directions
                        </a>
                    </div>
                    <div>
                        <a href="{% url 'topopartner:gpx' tid=track.id %}" title="Download GPX file">
                            <span class="track-info-icon" ><i class="icon icon-map"></i></span>
                            Download GPX
                        </a>
                    </div>
                </div>
                {% if track.comment %}
                <p>
                    {{ track.comment | safe }}
                </p>
                {% endif %}
                {% if track.date_visited %}
                <p>
                    Recorded on {{ track.date_visited }}.
                </p>
                {% endif %}
                {% if request.user == track.user %}
                <p>
                    <a class="btn btn-primary" href="{% url 'topopartner:edit_track' tid=track.id %}">Edit</a>
                </p>
                {% endif %}
            </div>
            <script type="text/javascript" src="{% static 'topopartner/js/elevation.js' %}"></script>
            <script type="text/javascript">
                let ctx = document.getElementById("elevation_profile").getContext('2d');
                let data = [{% for d, e in elevation_data %}{x: {{d|floatformat:0}}, y: {{e|floatformat:0}} }, {% endfor %}];
                createElevationProfile(ctx, data);
            </script>
        </div>
    </div>
</div>
{% endblock main_content %}

{% block side_content %}

{% endblock side_content %}
