{% extends 'topopartner/base.html' %}
{% load mathfilters %}
{% load static %}

{% block title %}Tracks &mid; {{ block.super }}{% endblock title %}

{% block head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'topopartner/css/tracks.css' %}">
{% endblock head %}

{% block body %}
<h1>Recordings</h1>

{% if recordings %}
<div class="track_table_wrapper">
    <table class="track_table" cellpadding=10 cellspacing=2>
        <tr>
            <th>Label</th>
            <th>Distance</th>
            <th>Uphill</th>
            <th>Downhill</th>
            <th>Duration</th>
            <th>Date</th>
            <th>Public</th>
        </tr>
        {% for track in recordings %}
        <tr>
            <td class="highlight"><a class="transparent" href="{% url 'topopartner:view_track' tid=track.id%}">{{ track.label }}</a></td>
            <td>{% if track.distance %}{{ track.distance | mul:.001 | floatformat }}km{% else %}&mdash;{% endif %}</td>
            <td>{% if track.uphill %}{{ track.uphill | floatformat:"0" }}m{% else %}&mdash;{% endif %}</td>
            <td>{% if track.downhill %}{{ track.downhill | floatformat:"0" }}m{% else %}&mdash;{% endif %}</td>
            <td>{% if track.duration %}{{ track.pretty_duration }}{% else %}&mdash;{% endif %}</td>
            <td>{{ track.date_visited }}</td>
            <td>{% if track.public %}&check;{% else %}&mdash;{% endif %}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% else %}
<p>Nothing to show here.</p>
{% endif %}

<p>
    <a class="cmd_button" href="{% url 'topopartner:upload_track' %}">Upload track</a>
    <a class="cmd_button" href="{% url 'topopartner:fit_linreg' %}" title="Fit the linear regression model for predicting duration on those recorded tracks.">Fit model</a>
</p>

<h2>Current model</h2>

<pre>Duration (s) = <span class="highlight">{{ linreg.intercept | floatformat }}</span> &plus; <span class="highlight">{{ linreg.coef_distance | floatformat }}</span> &times; Distance (m) &plus; <span class="highlight">{{ linreg.coef_uphill | floatformat }}</span> &times; Uphill (m)</pre>

{% endblock body %}
