{% extends 'topopartner/base.html' %}
{% load static %}

{% block title %}Waypoints &mid; {{ block.super }}{% endblock title %}

{% block head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'topopartner/css/map.css' %}">
{% endblock head %}

{% block main_content %}
<div class="levitate-container">
    {% include 'topopartner/map.html' %}
    <button class="levitate levitate-south-east btn btn-primary" id="buttonSaveChanges" type="button" name="save_markers" disabled>Save Changes</button>
</div>
<script type="text/javascript">
    mapWrapper.bindButtonSaveWaypoits("buttonSaveChanges");
</script>
{% endblock main_content %}
