{% load static %}

<script type="text/javascript" src="{% static 'topopartner/js/map.js' %}"></script>

<template id="template_marker_popup">
    <div class="marker_popup">
        <small><b>Label</b></small>
        <input type="text" name="label" value="" placeholder="Waypoint's label" />
        <small><b>Comment</b></small>
        <input type="text" name="comment" value="" placeholder="Description" />
        <small><b>Elevation</b></small>
        <input type="number" name="elevation" placeholder="Elevation" value="" step="any" />
        <small><b>Category</b></small>
        <select name="category">
            {% for category in mapdata.categories %}
            <option value="-1">None</option>
            <option value="{{ category.id }}">{{ category.name }}</option>
            {% endfor %}
        </select>
        Visited <input type="checkbox" name="visited" placeholder="Visited" />
        <button type="button" name="delete">Delete</button>
    </div>
</template>

<template id="template_polyline_panel">
    <div class="polyline">
        <span class="polyline_label"></span>
        <button class="cmd_button" type="button" name="remove">Remove</button>
        <button class="cmd_button" type="button" name="save">Save</button>
    </div>
</template>

<div class="map" id="map"></div>

<script type="text/javascript">
var mapWrapper = new MapWrapper();
mapWrapper.defaultView.center.latitude = {{ mapdata.center.lat }};
mapWrapper.defaultView.center.longitude = {{ mapdata.center.lng }};
{% if not mapdata.track %}
mapWrapper.defaultView.bounds.southwest = {{ mapdata.bounds.sw }};
mapWrapper.defaultView.bounds.northeast = {{ mapdata.bounds.ne }};
{% endif %}
mapWrapper.createLeafletMap("map");
{% if mapdata.edit == 'marker' %}
mapWrapper.appendAddMarkerControl();
{% endif %}
{% if mapdata.edit == 'polyline' %}
mapWrapper.appendAddPolylineControl();
{% endif %}
{% if mapdata.track %}
var trackWrapper = new Track(mapWrapper);
trackWrapper.latlngs = [{% for lat, lon in mapdata.track %}[{{ lat }}, {{ lon }}]{% if forloop.last %}{% else %}, {% endif %}{% endfor %}];
trackWrapper.createLeafletPolyline({% if mapdata.edit == 'polyline' %}true{% else %}false{% endif %}, true);
mapWrapper.leaflet.fitBounds(trackWrapper.leaflet.getBounds());
{% endif %}
setTimeout(function(){ mapWrapper.leaflet.invalidateSize()}, 400);
</script>
