{% load mathfilters %}

<div class="card my-2 {% if track.is_route %}{% else %}{% endif %}">
    <div class="card-illustration">
        <a href="{% url 'topopartner:view_track' tid=track.id %}">
            <div class="still-map video-responsive" id="still-map-{{ track.id }}" href="{% url 'topopartner:track_points' tid=track.id %}"></div>
        </a>
    </div>
    <div class="card-header">
        <div class="card-title h5">{{ track.label }}</div>
        <div class="card-subtitle text-gray">
            {% if track.is_recording %} Recorded on {{ track.date_visited }} {% endif %}
        </div>
    </div>
    <div class="card-body">
        <div class="d-flex">
            <div><i class="icon icon-route"></i>{{ track.distance | mul:.001 | floatformat }}km &nbsp;</div>
            <div><i class="icon icon-terrain"></i>{{ track.uphill | floatformat:"0" }}m &nbsp;</div>
            <div><i class="icon icon-timer"></i>{{ track.pretty_duration }} {% if track.public %} &nbsp;</div>
            <div><i class="icon icon-unlock" title="This track is public."></i> Public {% endif %}</div>
        </div>
    </div>
    <div class="card-footer">
        <a class="btn btn-primary" href="{% url 'topopartner:view_track' tid=track.id %}">View</a>
        <a class="btn btn-link" href="{% url 'topopartner:edit_track' tid=track.id %}">Edit</a>
        <a class="btn btn-link" href="{% url 'topopartner:download_track_gpx' tid=track.id %}">Download</a>
    </div>
</div>