@media (max-width:1200px) {
    .map_layout {
        flex-direction: column-reverse;
        margin-bottom: 25px;
    }

    .map_layout>*:last-child {
        margin-left: 0;
        margin-bottom: 16px;
    }

    .track_table_wrapper {
        overflow-x: auto;
        max-width: 100%;
    }

    pre {
        overflow-x: auto;
        max-width: 100%;
    }

    header nav ul li a .large {
        display: none;
    }
    header nav ul li a .small {
        display: block;
    }
}
