.track-info {
    height: 32px;
}

.track-info-icon {
    color: white;
    font-size: 24px;
    height: 32px;
    line-height: 32px;
    margin-right: 2px;
    box-sizing: border-box;
}

.track-info-number {
    font-size: 24px;
    font-weight: 700;
    height: 32px;
    line-height: 32px;
    box-sizing: border-box;
}

.track-info-unit {
    font-size: 16px;
    height: 32px;
    line-height: 32px;
    text-transform: uppercase;
    box-sizing: border-box;
}

canvas {
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, .1);
}