.track_table {
    border-collapse: collapse;
}

.track_table td, .track_table th, .track_table {
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.track_table tr:nth-child(odd) {
    background: rgba(255, 255, 255, 0.05);
}

.track_table a:hover {
    text-decoration: underline;
}

.track_table td {
    min-width: 100px;
    text-align: center;
}

.track_table td:first-child, .track_table th:first-child {
    width: 100%;
    text-align: left;
}
